.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}

.footer {
  width: 100%;
  height: 50px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.main {
  display: grid;
  place-content: center;
  margin-top: auto;
  height: 100%;
  width: 100vw;
  text-align: center;
}

.btns_container {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: transparent;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid;
  border-radius: 5px;
  margin: 5px 12px;
  padding: 4px 12px;
}

.btn:nth-child(1):hover {
  background-color: red;
}
.btn:nth-child(2):hover {
  background-color: lightgreen;
}
